<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<h1>編集画面</h1>

<%= form_with model: @user do |f| %>

  <h4>name</h4>
  <%= f.text_area :name %>

  <h4>email</h4>
  <%= f.text_field :email %>

  <%= f.submit '保存' %>

<% end %>